header {
  overflow: hidden;
}

body {
  position: relative;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.navbar-add {
  color: #4592af;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.login-form, 
.register-form  {
  position: relative;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  height: 750px;
  background-size: cover;
  margin: 0 auto
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.input-group {
  margin: auto 15px;
  max-width: 700px;
}

::-webkit-input-placeholder {
   font-size: 14px!important;
}

.custom-select {
  max-width: 200px;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #9b4b4b;
    border-color: #9b4b4b;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #CC8989 !important;
  border-color:#CC8989 !important;
}

a { 
  color: inherit;
  text-decoration:none;
} 

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-sm {
  margin: 10px 10px 10px 0px
}

.alert-warning {
  width: 100%
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
